<div id="content">
 <center>

<p>
<nav>
  <ul>
    <% programs.each do |p| %>
      <li><a href="<%= p.name %>" <%=current?('/'+p.name)%>><%= p.name %></a></li>
    <% end %>
  </ul>
 </nav>
 </p>

   </center>
</div>

<script src="pl0.js"></script>
<script src="main.js"></script>